.grid {
    display: grid;
    grid-template-areas:
    "head head head"
    "nav main aside"
    "foot foot foot";
    height: 750px;
    grid-gap: 10px;
    grid-template-columns: 170px 1fr 150px;
    grid-template-rows: 100px 1fr 70px;
}
.grid > *{
    padding: 20px;
    background: khaki;
}

header {
    grid-area: head;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: foot;
}